#{extends 'main.html' /}
#{set 'moreScripts'}
        #{script 'markitup/jquery.markitup.js' /}
        <script src="/public/javascripts/markitup/sets/${project?.textformat}/set.js" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}
#{set 'moreStyles'}
        #{stylesheet 'markitup/skins/simple/style.css' /}
        <link rel="stylesheet" media="screen" href="/public/stylesheets/markitup/sets/${project?.textformat}/style.css">      
#{/set}
#{set 'title'}${project?.name} » &{'issue'} #${issue?.id} #{/set}

#{if issue?.id}
	#{set issuesSelected:'selected' /}
#{/if}
#{else}
	#{set newIssueSelected:'selected' /}
#{/else}

<div id="header">
	<h1>${project?.name}</h1>
	<div id="main-menu">
				#{main-menu project:project /}		
	</div>
	
</div>


<div class="nosidebar" id="main">

    <div id="sidebar">        
        
    </div>
    
	<div id="content">    

		<div class="contextual">
		#{if issue?.id}
			<a href='#' accesskey="e"  class="icon icon-edit" onclick="jQuery('#commit').toggle(0.3); jQuery('#update').toggle(0.3); return false;">&{'update'}</a>
		
			<!-- a href="/redmine/issues/41/time_entries/new" class="icon icon-time-add">Saisir temps</a>
			
			<span id="watcher"><a class="icon icon-fav-off" href="/redmine/watchers/watch?object_id=41&amp;object_type=issue&amp;replace%5B%5D=watcher&amp;replace%5B%5D=watcher2" onclick="new Ajax.Request('/redmine/watchers/watch?object_id=41&amp;object_type=issue&amp;replace%5B%5D=watcher&amp;replace%5B%5D=watcher2', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('LLyjDadSkVqlYwYElfnkvwETfWMK8AkJherOKzh0zik=')}); return false;">Surveiller</a></span>
			
			<a href="/redmine/projects/codeboard/issues/41/copy" class="icon icon-duplicate">Dupliquer</a>
			<a href="/redmine/issue_moves/new/41?copy_options%5Bcopy%5D=t" class="icon icon-copy">Copier</a>
			<a href="/redmine/issue_moves/new/41" class="icon icon-move">Déplacer</a>
			<a href="/redmine/issues/41/destroy" class="icon icon-del" onclick="if (confirm('Êtes-vous sûr ?')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'LLyjDadSkVqlYwYElfnkvwETfWMK8AkJherOKzh0zik='); f.appendChild(s);f.submit(); };return false;">Supprimer</a -->
		#{/if}
		</div>

		#{if issue?.id}
			<h2>${issue?.tracker?.name} #${issue.id}</h2>
			#{/if}
			#{else}
			<h2>&{'new_issue'}</h2>
		#{/else}
				
		#{if issue?.id}
			<div class="subject">      
		
				<div><h3>${issue?.subject}</h3></div>
			</div>
	
	   		<div class="issue details">
				<p><strong>Description</strong></p>
				<hr />
			    <p>
				    <!-- div style=" border-style: dotted; border-width: 1px; padding: 5px;" -->
				    <div class="wiki" >
				    #{if project.textformat == 'textile'}
			    	${issue?.description.textile().raw()}
			    	#{/if}
			    	#{elseif project.textformat == 'markdown'}
			    	${issue?.description.markdown().raw()}			    	
			    	#{/elseif}
			    	#{else}
			    	${issue?.description}
			    	#{/else}
			    	</div>
			    </p>	
				<hr />
				<table class="attributes">
					<tr>
					    <th class="status">&{'state'}</th><td class="status">${issue?.state.name}</td>
					    <th class="assigned-to">&{'assignee'}</th><td class="assigned-to">
					    #{secure.check 'admin'}
					    	<a href="/admin/users/${issue.assignee?.login}">#{/secure.check}${issue.assignee?.firstname} ${issue.assignee?.lastname}#{secure.check 'admin'}</a>#{/secure.check}
					    	
					    	</td>
					</tr>
					<tr>
					    <th class="priority">&{'priority'}</th><td class="priority">${issue?.priority.name}</td>	
					</tr>
				</table>
	
			</div>
		#{/if}
		
		
		#{ifErrors}
		    <div class="errorExplanation" id="errorExplanation"><p>There were problems with the following fields:</p>
		    <ul>
	   		#{errors}
	   		#{if error.key != 'form'}
    	   		<li>${error}</li>
    	   		#{/if}
   			#{/errors}
 			</ul></div>
		#{/ifErrors}
		#{form @Issues.saveIssue(project.id, trackerId, assigneeId), id:'form', class:'tabular', method:'POST', enctype:'multipart/form-data'}
			<div id="update" #{if issue?.id} #{ifErrors}#{/ifErrors}#{else}style="display:none;"#{/else} #{/if} >
				<div class="box">
	 				<input type="hidden" name="issue.id" id="id" value="${issue?.id}" />
				    <!-- input style="visibility:hidden"  type="text" name="issue.project" id="project" value="${project.identifier}"/ -->
	
					<p><label for="issue_tracker_id">&{'tracker'}<span class="required"> *</span></label>
						#{select 'trackerId', items:trackers, valueProperty:'id', labelProperty:'name', id:'id', value:"${issue?.tracker?.id}" /}
					</p>
	
					<p class="field">
					    <label for="subject">&{'subject'}<span class="required"> *</span></label>
					    <input type="text" name="issue.subject" id="issue_subject" size="80" value="${issue?.subject}"/>
					    <!-- span class="error" >${errors.forKey('issue.subject')}</span -->
					</p>
	
				    <p>
					    <label for="description">&{'description'}</label>
				
					    <textarea type="text" name="issue.description" id="description" class="textile" style="resize: none;">${issue?.description}</textarea>
						<!-- span class="error">${errors.forKey('issue.description')}</span -->
	

						<script language="javascript">
				    #{if project.textformat == 'textile'}
    $('#description').markItUp(textileSettings);
			    	#{/if}
			    	#{elseif project.textformat == 'markdown'}
    $('#description').markItUp(markdownSettings);
			    	
			    	#{/elseif}

</script>
						
					</p>
						
					<div class="splitcontentleft">
			
						<p><label for="issue_state">&{'state'}<span class="required"> *</span></label>
							#{select 'stateId', items:states, valueProperty:'id', labelProperty:'name', id:'state', value:"${issue?.state?.id}" /}
						</p>
						<p><label for="issue_priority">&{'priority'}<span class="required"> *</span></label>
							#{if issue?.priority?.id}
							#{select 'priorityId', items:priorities, valueProperty:'name', labelProperty:'name', id:'priority', value:"${issue?.priority?.name}" /}
							#{/if}
							#{else}
							#{select 'priorityId', items:priorities, valueProperty:'name', labelProperty:'name', id:'priority', value:'Normal' /}
							#{/else}
						</p>
		
					</div>
		
					<div class="splitcontentright">					
						<p><label for="issue_assignee">&{'assignee'}</label>
							#{select 'assigneeId', items:users, valueProperty:'id', id:'assignee', value:"${issue?.assignee?.id}" }
							<option> </option>
							#{/select}
						</p>
						
					</div>
					
					<div style="clear:both;" />			
				</div>
			</div>
			
			
			<input id="commit" #{if issue?.id} #{ifErrors}#{/ifErrors}#{else}style="display:none;"#{/else} #{/if} name="commit" type="submit" 
				#{if issue?.id}
				value="&{'save'}" 
				#{/if}
				#{else}
				value="&{'create'}" 
				#{/else}
			/>
		#{/form}		
	<div style="clear:both;"></div>

</div>
</div>
</div>

