#{extends 'main.html' /}
#{set 'title'}&{'application.title'} » #{if state?.id}&{'issue_statuses'} » ${state.name} #{/if}
		#{else}
		&{'new_state'}
		#{/else}#{/set}


<div id="header">
	<h1>&{'issue_statuses'}</h1>
	<div id="main-menu">
	</div>
	
</div>


<div class="" id="main">

    <div id="sidebar">        
    	<h3>&{'administration'}</h3>
		#{admin-menu /}
    </div>
    
	<div id="content">    

		#{if state?.id}
		<h2><a href="/admin/issue_statuses">&{'issue_statuses'}</a> » ${state.name}</h2>
		#{/if}
		#{else}
		<h2>&{'new_state'}</h2>
		#{/else}
		
		#{ifErrors}
 	   		<h1>Oops...</h1>
	 		<div class="errorExplanation" id="errorExplanation">
	 		<ul>
		   #{errors}<li>${error}</li>#{/errors}
 			</ul></div>
 		#{/ifErrors}

		#{form @States.save(closed, isDefault), id:'form', method:'POST', enctype:'multipart/form-data'}
		
			<div class="box tabular">
			    <input type="hidden" name="state.id" id="id" value="${state?.id}" />

				<p><label for="state.name">&{'name'}<span class="required"> *</span></label>
				<input id="state_name" name="state.name" type="text" value="${state?.name}" /></p>

				<p><label for="state.name">&{'percent_done'}<span class="required"> *</span></label>
				#{select 'state.defaultDoneRatio', value:"${state?.defaultDoneRatio}", id:"issue_status_default_done_ratio" }  
					#{option ""}#{/option}
					#{option 0}0 %#{/option}
					#{option 10}10 %#{/option}
					#{option 20}20 %#{/option}
					#{option 30}30 %#{/option}
					#{option 40}40 %#{/option}
					#{option 50}50 %#{/option}
					#{option 60}60 %#{/option}
					#{option 70}70 %#{/option}
					#{option 80}80 %#{/option}
					#{option 90}90 %#{/option}
					#{option 100}100 %#{/option}
				#{/select}
				</p>

				<p><label for="user_admin">&{'closed'}</label>
				<input type="checkbox" id="user_closed" name="closed"  #{if state?.closed }checked#{/if} />
				<span class="errorExplanation">#{error 'admin' /}</span></p>

				#{secure.check 'admin'}
				<p><label for="user_isDeafult">&{'default'}</label>
				<input type="checkbox" id="user_isDefault" name="isDefault"  #{if user?.isDefault }checked#{/if} />
				<span class="errorExplanation">#{error 'admin' /}</span></p>
				#{/secure.check }


			</div>
			<input name="commit" type="submit" value="&{'save'}" />
		</div>


		#{/form}

    </div>
		

</div>