#{extends 'main.html' /}
#{set 'title'}&{'application.title'} » &{'enumerations'}#{/set}
#{set issuesSelected:'selected' /}
#{set 'moreStyles'}
        #{stylesheet 'bootstrap.css' /}
#{/set }


<div id="header">
	<h1>&{'application.title'}</h1>
	<div id="main-menu">
	</div>
	
</div>


<div class="" id="main">

    <div id="sidebar">        
            <h3>&{'administration'}</h3>

			#{admin-menu /}

    </div>
    
	<div id="content">    

        <div class="contextual">
			<a href="/admin/enumerations/new?type=IssuePriority" class="icon icon-add">&{'new_enumeration'}</a>
		</div>

		<h2>&{'enumerations'}</h2>
		<div id="status"></div>

			<div class="autoscroll" >
				<table id="actions" class="list projects">
			    <thead><tr>
					<th title="Sort by &quot;&{'name'}&quot;">&{'name'}</th>
		          <th title="Sort by &quot;&{'default'}&quot;">&{'default'}</th>
		          <th title="Sort by &quot;&{'active'}&quot;">&{'active'}</th>		  
		          <th></th>      
		          <th></th>      
				</tr>
				</thead>
				<tbody>
			
					#{list priorities, as:'priority'}
						<tr id="action-${priority.id}" class="hascontextmenu">
							<td class="project"><a href="/admin/enumerations/${priority.id}">${priority.name}</a></td>
					        <td class="checkbox hide-when-print" align="center">
					        #{if priority.active }
					        <img alt="Toggle_check" src="@{'/public/images/toggle_check.png'}" />
					        #{/if} 
					        </td>
					        <td class="checkbox hide-when-print" align="center">
					        #{if priority.is_default }
					        <img alt="Toggle_check" src="@{'/public/images/toggle_check.png'}" />
					        #{/if} 
					        </td>
					        <td align="center" style="width:15%;">
								<a href="/admin/enumerations/move/${priority.id}?move_to=highest" class="highest" title="&{'to_top'}">
									<img alt="&{'to_top'}" src=@{'/public/images/2uparrow.png'} /></a>
								<a href="/admin/enumerations/move/${priority.id}?move_to=higher" class="higher" title="&{'up'}">
									<img alt="&{'up'}" src=@{'/public/images/1uparrow.png'} /></a>
								<a href="/admin/enumerations/move/${priority.id}?move_to=lower" class="lower" title="&{'down'}'">
									<img alt="&{'down'}" src=@{'/public/images/1downarrow.png'} /></a>
								<a href="/admin/enumerations/move/${priority.id}?move_to=lowest" class="lowest" title="&{'to_bottom'}">
									<img alt="&{'to_bottom'}" src=@{'/public/images/2downarrow.png'} /></a>
							</td>
					        
							<td class="buttons" >
    							<a href="/admin/enumerations/${priority.id}" class="icon icon-del delete"  >&{'delete'}</span>
  							</td>
						</tr>
						
					#{/list}
				</tbody>
				</table>
				<!-- p><a href="/admin/enumerations/new?type=IssuePriority">&{'new_enumeration'}</a></p -->
			</div>
			</form>
   		 	
   		 	
		<!-- div style="clear:both;"></div -->
	</div>
</div>

#{list_actions /}

