#{extends 'main.html' /}
#{set 'moreScripts'}
        #{script 'markitup/jquery.markitup.js' /}
        #{script 'markitup/sets/textile/set.js' /}
#{/set}
#{set 'moreStyles'}
        #{stylesheet 'markitup/skins/simple/style.css' /}
        #{stylesheet 'markitup/sets/textile/style.css' /}
#{/set}

#{set 'title'}&{'configuration'}#{/set}


<div id="header">
	<h1>&{'application.title'}</h1>
	<div id="main-menu">
	</div>
	
</div>


<div class="" id="main">

    <div id="sidebar">        
            <h3>&{'administration'}</h3>

			#{admin-menu /}

    </div>
    
	<div id="content">    

		<h2>&{'settings'}</h2>
		
		#{ifErrors}
 	   		<h1>Oops...</h1>
	 		<div class="errorExplanation" id="errorExplanation">
	 		<ul>
		   #{errors}<li>${error}</li>#{/errors}
 			</ul></div>
 		#{/ifErrors}

	 	<div class="tab-content" id="tab-content-general">
			<div class="box tabular settings">
			    #{form @Settings.save(), id:'form', method:'POST', enctype:'multipart/form-data'}

				    <p><label for="description">&{'description'}</label>
					    <textarea type="text" name="setting.welcome_text" id="welcome_text" class="textile" style="resize: none;">${setting?.welcome_text}</textarea>
						<!-- span class="error">${errors.forKey('setting?.welcome_text')}</span -->
	
						<script language="javascript">
						    $('#welcome_text').markItUp(textileSettings);
						</script>
			    	</p>

				    <input type="hidden" name="setting.id" id="id" value="${setting?.id}" />
				    <p><label>&{'theme'}</label>
				    #{select 'setting.look', items:themes, valueProperty:'theme', labelProperty:'name', id:'id', value:"${setting?.look}" /}
				    </p>
				    
			        <p class="crudButtons">
			            <input type="submit" name="_save" value="&{'save'}" />
			            <!-- input type="submit" name="_saveAndContinue" value="&{'save_and_continue'}" / -->
			        </p>
			    #{/form}
			</div>
		</div>
		<div class="tab-content" id="tab-content-memberships" style="display:none">
		</div>
		
	</div>	

</div>