#{extends 'main.html' /}
#{set 'title'}&{'configuration'}#{/set}


<div id="header">
	<h1>&{'application.title'}</h1>
	<div id="main-menu">
	</div>
	
</div>


<div class="nosidebar" id="main">

    <div id="sidebar">        
        
    </div>
    
	<div id="content">    

		<h2>&{'settings'}</h2>
		
		#{ifErrors}
 	   		<h1>Oops...</h1>
	 		<div class="errorExplanation" id="errorExplanation">
	 		<ul>
		   #{errors}<li>${error}</li>#{/errors}
 			</ul></div>
 		#{/ifErrors}

	
	 	<div class="tab-content" id="tab-content-general">
		    #{form @Settings.save(), id:'form', method:'POST', enctype:'multipart/form-data'}
		    <input type="hidden" name="setting.id" id="id" value="${setting?.id}" />
		    <p><label>&{'theme'}</label>
		    #{select 'setting.look', items:themes, valueProperty:'theme', labelProperty:'name', id:'id', value:"${setting?.look}" /}
		    </p>
		    
	        <p class="crudButtons">
	            <input type="submit" name="_save" value="&{'save'}" />
	            <!-- input type="submit" name="_saveAndContinue" value="&{'save_and_continue'}" / -->
	        </p>
		    #{/form}

		</div>
		<div class="tab-content" id="tab-content-memberships" style="display:none">
		</div>
		
	</div>	

</div>