#{extends 'main.html' /}
#{set 'title'}&{'application.title'} » #{if domain?.id}&{'domains'} » ${domain.name} #{/if}
		#{else}
		<h2>&{'new_domain'}</h2>
		#{/else}#{/set}


<div id="header">
	<h1>&{'domains'}</h1>
	<div id="main-menu">
	</div>
	
</div>


<div class="" id="main">

    <div id="sidebar">        
    	<h3>&{'administration'}</h3>
		#{admin-menu /}
    </div>
    
	<div id="content">    

		#{if domain?.id}
		<h2><a href="/admin/domains">&{'domains'}</a> » ${domain.name}</h2>
		#{/if}
		#{else}
		<h2>&{'new_domain'}</h2>
		#{/else}
		
		#{ifErrors}
 	   		<h1>Oops...</h1>
	 		<div class="errorExplanation" id="errorExplanation">
	 		<ul>
		   #{errors}<li>${error}</li>#{/errors}
 			</ul></div>
 		#{/ifErrors}

		#{form @Domains.save(), id:'form', method:'POST', enctype:'multipart/form-data'}
		
		<div class="splitcontentleft">
			<div class="box tabular">
			    <input type="hidden" name="domain.id" id="id" value="${domain?.id}" />

				<p><label for="domain.name">&{'name'}<span class="required"> *</span></label>
				<input id="domain_name" name="domain.name" type="text" value="${domain?.name}" /></p>
				
				<p><label for="domain.isPublic">&{'domain_public'}</label>
				<input type="checkbox" id="domain_isPublic" name="domain.isPublic" value="true" ${domain?.isPublic ? 'checked':''} />
				<input type="hidden" name="domain.isPublic" value="false" /> 
				<span class="errorExplanation">#{error 'admin' /}</span></p>

				<p><label for="domain.isDefault">&{'domain_default'}</label>
				<input type="checkbox" id="domain_isDefault" name="domain.isDefault" value="true" ${domain?.isDefault ? 'checked':''} />
				<input type="hidden" name="domain.isDefault" value="false" /> 
				<span class="errorExplanation">#{error 'admin' /}</span></p>


			</div>
			<input name="commit" type="submit" value="&{'save'}" />
		</div>

		<div class="splitcontentright">


		</div>

		#{/form}

        <div style="clear:both;"></div>
    </div>
		

</div>