#{extends 'main.html' /}
#{set 'title'}&{'application.title'} » &{'domains'}#{/set}
#{set issuesSelected:'selected' /}
#{set 'moreStyles'}
        #{stylesheet 'bootstrap.css' /}
#{/set }


<div id="header">
	<h1>&{'application.title'}</h1>
	<div id="main-menu">
	</div>
	
</div>


<div class="" id="main">

    <div id="sidebar">        
            <h3>&{'administration'}</h3>

			#{admin-menu /}

    </div>
    
	<div id="content">    

        <div class="contextual">
			<a href="@{Domains.create}" class="icon icon-add">&{'new_domain'}</a>
		</div>

		<h2>&{'domains'}</h2>

			<div id="status"></div>
			<div class="autoscroll" >
				<table class="list domains" id="actions">
			    <thead><tr>
					<th title="Domain">&{'domain_name'}</th>
					<th title="Sort by &quot;Public&quot;">&{'domain_public'}</th>
					<th title="Sort by &quot;Default&quot;">&{'domain_default'}</th>
					<th>&{'sort'}</th>
		          	<th></th>		        
				</tr>
				</thead>
				<tbody>
			
					#{list domains, as:'domain'}
						<tr id="action-${domain.id}" class="hascontextmenu">
							<td class="domain"><a href="/admin/domains/${domain.id}">${domain.name}</a></td>
							<td class="checkbox hide-when-print" align="center">
					        #{if domain.isPublic }
					        <img alt="Toggle_check" src="@{'/public/images/toggle_check.png'}" />
					        #{/if}
					        </td>
							<td class="checkbox hide-when-print" align="center">
					        #{if domain.isDefault }
					        <img alt="Toggle_check" src="@{'/public/images/toggle_check.png'}" />
					        #{/if}
					        </td>
							<td align="center" style="width:15%;">
								<a href="/admin/domains/move/${domain.id}?move_to=highest" class="highest" title="&{'to_top'}">
									<img alt="&{'to_top'}" src=@{'/public/images/2uparrow.png'} /></a>
								<a href="/admin/domains/move/${domain.id}?move_to=higher" class="higher" title="&{'up'}">
									<img alt="&{'up'}" src=@{'/public/images/1uparrow.png'} /></a>
								<a href="/admin/domains/move/${domain.id}?move_to=lower" class="lower" title="&{'down'}">
									<img alt="&{'down'}" src=@{'/public/images/1downarrow.png'} /></a>
								<a href="/admin/domains/move/${domain.id}?move_to=lowest" class="lowest" title="&{'to_bottom'}">
									<img alt="&{'to_bottom'}" src=@{'/public/images/2downarrow.png'} /></a>
							</td>
  							<td class="buttons" >
    							<a href="/admin/domains/${domain.id}" class="icon icon-del delete"  >&{'delete'}</span>
  							</td>
						</tr>
					#{/list}
				</tbody>
				</table>
			</div>
			</form>
   		 	
		<!-- div style="clear:both;"></div -->
	</div>
</div>

#{list-actions /}