#{extends 'main.html' /}
#{set 'title'}&{'application.title'} » &{'projects'}#{/set}
#{set issuesSelected:'selected' /}
#{set 'moreStyles'}
        #{stylesheet 'bootstrap.css' /}
#{/set }


<div id="header">
	<h1>&{'application.title'}</h1>
	<div id="main-menu">
	</div>
	
</div>


<div class="" id="main">

    <div id="sidebar">        
            <h3>&{'administration'}</h3>

			#{admin-menu /}

    </div>
    
	<div id="content">    

        <div class="contextual">
			<a href="/admin/projects/new" class="icon icon-add">&{'new_project'}</a>
		</div>

		<h2>&{'projects'}</h2>
		<div id="status"></div>

			<div class="autoscroll" >
				<table id="actions" class="list projects">
			    <thead><tr>
					<th title="Sort by &quot;Project&quot;">&{'project_name'}</th>
		          <th title="Sort by &quot;Public&quot;">&{'project_public'}</th>
		          <th title="Sort by &quot;Created&quot;">&{'project_created'}</th>		  
		          <th></th>      
				</tr>
				</thead>
				<tbody>
			
					#{list projects, as:'project'}
						<tr id="action-${project.id}" class="hascontextmenu">
							<td class="project"><a href="/admin/projects/${project.identifier}">${project.name}</a></td>
					        <td class="checkbox hide-when-print" align="center">
					        #{if project.isPublic }
					        <img alt="Toggle_check" src="@{'/public/images/toggle_check.png'}" />
					        #{/if}
					        <td class="created"  align="center">${project.created?.format(messages.get('date_format'))}</td>
							<td class="buttons" >
    							<a href="/admin/projects/${project.id}" class="icon icon-del delete"  >&{'delete'}</span>
  							</td>
						</tr>
						
					#{/list}
				</tbody>
				</table>
			</div>
			</form>
   		 	
   		 	
		<!-- div style="clear:both;"></div -->
	</div>
</div>

#{list-actions /}

