			<div id="admin-menu">
  				<ul>
				    <li><a href="/admin/domains" class="domains">&{'domains'}</a></li>
				    <li><a href="/admin/projects" class="projects">&{'projects'}</a></li>
					<li><a href="/admin/users" class="users">&{'users'}</a></li>
					<!-- li><a href="/admin/groups" class="groups">Groups</a></li -->
					
					<li><a href="/admin/roles" class="roles">Roles and permissions</a></li>
					<li><a href="/admin/trackers" class="trackers">&{'trackers'}</a></li>
					<li><a href="/admin/issue_statuses" class="issue_statuses issue-statuses">&{'issue_statuses'}</a></li>
					<!-- li><a href="/admin/workflows/edit" class="workflows">Workflow</a></li>
					<li><a href="/admin/custom_fields" class="custom_fields custom-fields">Custom fields</a></li -->
					<li><a href="/admin/enumerations" class="enumerations">&{'enumerations'}</a></li>
					<li><a href="/admin/settings" class="settings">&{'settings'}</a></li>
					<!-- li><a href="/admin/ldap_auth_sources" class="server_authentication ldap-authentication">LDAP authentication</a></li>
					<li><a href="/admin/plugins" class="plugins">Plugins</a></li>
					
					<li><a href="/admin/info" class="info">Information</a></li -->
  				</ul>
			</div>