		<ul>
			<li><a href="/projects/${_project.name}" class="overview #{get 'overviewSelected' /} ">Aperçu</a></li>
			<!-- li><a href="/projects/${_project.name}/activity" class="activity">Activité</a></li -->
			<li><a href="/projects/${_project.name}/issues" class="issues #{get 'issuesSelected' /}">Demandes</a></li>
			#{if session.contains("username")}
			<li><a href="/projects/${_project.name}/issues/new" class="issues #{get 'newIssueSelected' /}">Nouvelle demande</a></li>
			#{/if}
			<!-- li><a href="/projects/${_project.name}/issues/gantt" class="gantt">Gantt</a></li>
			<li><a href="/projects/${_project.name}/issues/calendar" class="calendar">Calendrier</a></li>
			<li><a href="/projects/${_project.name}/news" class="news">Annonces</a></li>
			<li><a href="/projects/${_project.name}/documents" class="documents">Documents</a></li>
			<li><a href="/projects/${_project.name}/wiki" class="wiki">Wiki</a></li>
			<li><a href="/cedicam/${_project.name}/playforge/files" class="files">Fichiers</a></li -->
		</ul>