#{extends 'main.html' /}
#{set 'title'}&{'application.title'} » &{'trackers'}#{/set}
#{set issuesSelected:'selected' /}
#{set 'moreStyles'}
        #{stylesheet 'bootstrap.css' /}
#{/set }


<div id="header">
	<h1>&{'application.title'}</h1>
	<div id="main-menu">
	</div>
	
</div>


<div class="" id="main">

    <div id="sidebar">        
            <h3>&{'administration'}</h3>

			#{admin-menu /}

    </div>
    
	<div id="content">    

        <div class="contextual">
			<a href="@{Trackers.create}" class="icon icon-add">&{'new_tracker'}</a>
		</div>

		<h2>&{'trackers'}</h2>

			<div id="status"></div>
			<div class="autoscroll" >
				<table class="list trackers" id="actions">
			    <thead><tr>
					<th title="Tracker">&{'tracker_name'}</th>
					<th>&{'sort'}</th>
		          	<th></th>		        
				</tr>
				</thead>
				<tbody>
			
					#{list trackers, as:'tracker'}
						<tr id="action-${tracker.id}" class="hascontextmenu">
							<td class="tracker"><a href="/admin/trackers/${tracker.id}">${tracker.name}</a></td>
							<td align="center" style="width:15%;">
								<a href="/admin/trackers/move/${tracker.id}?move_to=highest" class="highest" title="&{'to_top'}">
									<img alt="&{'to_top'}" src=@{'/public/images/2uparrow.png'} /></a>
								<a href="/admin/trackers/move/${tracker.id}?move_to=higher" class="higher" title="&{'up'}">
									<img alt="&{'up'}" src=@{'/public/images/1uparrow.png'} /></a>
								<a href="/admin/trackers/move/${tracker.id}?move_to=lower" class="lower" title="&{'down'}">
									<img alt="&{'down'}" src=@{'/public/images/1downarrow.png'} /></a>
								<a href="/admin/trackers/move/${tracker.id}?move_to=lowest" class="lowest" title="&{'to_bottom'}">
									<img alt="&{'to_bottom'}" src=@{'/public/images/2downarrow.png'} /></a>
							</td>
  							<td class="buttons" >
    							<a href="/admin/trackers/${tracker.id}" class="icon icon-del delete"  >&{'delete'}</span>
  							</td>
						</tr>
					#{/list}
				</tbody>
				</table>
			</div>
			</form>
   		 	
		<!-- div style="clear:both;"></div -->
	</div>
</div>

#{list_actions /}